{%extends 'index.html'%}
{%load static%}
{%block body_block%}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"> 
            
<table class="table" style="border: 3px; margin-top: 50px;">
  <tr>
    <th>COMPONENT ID</th>
    <th>PROJECT</th>
    <th>ITEM NAME</th>
    <th>BASE QUANITY</th>
    <th>NEW UNIT PRICE</th>
  </tr>
  {%for comp in components%}
  <tr>
    <td>{{comp.id}}</td>
    <td>{{comp.project}}</td>
    <td>{{comp.item_name}}</td>
    <td>{{comp.base_quantity}}</td>
    <td>{{comp.new_unit_price}}</td>
    <td>

    </td>
  </tr>
  {%endfor%}
</table>
</div>

<div class="col-2">

</div>
</div>
{%endblock%}
 
